.button{
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px 20px;
}

.display{
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 24px;
    color: blueviolet;
}

.heading{
    margin: 60px 0px;
    text-align: center;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.left_box{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 400px;
    border: 5px solid gray;
}

.left_box ul li {
    list-style: none;
}

.left_box ul li button{
    width: 100%;
    padding: 10px 20px;
    margin: 20px 0px;
}

.right_box{
    width: 30%;
    height: 400px;
    border: 5px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
}